body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #ddd;
    overflow: hidden;
}
.top-bar {
    width: 100%;
    height: 10vh;
    background: black;
    color: #fff;
    letter-spacing: 0;
    box-shadow: 0px 1px 20px 0px black;
    justify-content: space-between;
    align-items: center;
}

.top-bar, .event-title {
    display: flex;
}

.event-title {
    align-items: center;
}

.event-title {
    height: 100%;
    width: 450px;
    background: #92069d;
    padding-left: 10px;
    border-right: 25px solid #70067b;
    border-left: 5px solid #70067b;
    font-size: 2.4em;
    font-family: Arial, sans-serif;
    font-weight: 800;
}

.logout-button {
    font-size: 2.4em;
    color: #fff;
    cursor: pointer;
    padding: 0 30px;
    text-decoration: none;
}

.content-wrapper {
    width: 100%;
    height: 90vh;
}

.sections {
    display: flex;
    width: 100%;
    height: 10%;
    font-size: 1.5em;
}

.sections > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections > div:hover { 
    background: rgb(192, 187, 187);
    transition: 0.3s ease;
    cursor: pointer; 
}

.display-overview {
    height: 89.25%;
    width: 99.5%;
    border: 2px solid grey;
}

.details {
    width: 60%;
    height: 100%;
    float: left;
}

#user-name {
    font-size: 3em;
    padding-top: 60px;
    padding-left: 40px;
}

#score{
    font-size: 2.5em;
    margin-top: 20px;
    margin-left: 40px;
}

.question-details {
    margin-top: 50px;
    padding-left: 40px;
    font-size: 1.5em;
}

.question-details > div {
    margin-bottom: 12px;
}

.rank {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    height: 70%;
    width: 40%;
    font-size: 13em;
    color: rgb(68, 66, 66);
}

h1 {
    font-size: 0.15em;
    height: 30px;
    padding: 0;
    margin: 0;
}

.display-leaderboard {
    width: 99.5%;
    border: 2px solid grey;
    border-collapse: collapse;
    margin-left: 3px;
}
tr, td {
    padding: 0;
    margin: 0;
    color: rgb(68, 66, 66);
    font-size: 1.25em;
}
td{
    border: black 1px solid;
}

tr :nth-of-type(1), tr :nth-of-type(2), tr :nth-of-type(3) {
    color: #000;
    font-size: 1.15em;
}
table tr:nth-of-type(even){
    background: rgb(192, 187, 187);
}
table tbody:nth-of-type(1) tr:nth-of-type(1){
    background: rgb(192, 187, 187);
}



@media all and (max-width: 900px) {

    #user-name {
        font-size: 2.25em;
        padding-top: 60px;
        padding-left: 40px;
    }

    #score{
        font-size: 1.75em;
        margin-top: 20px;
        margin-left: 40px;
    }

    .question-details {
        margin-top: 50px;
        padding-left: 40px;
        font-size: 1.25em;
    }

    .rank {
        padding-top: 200px;
        font-size: 7em;
    }
    
    h1 {
        font-size: 0.25em;
    } 
    tr, td {
        padding: 0;
        margin: 0;
        color: rgb(68, 66, 66);
        font-size: 0.75em;
    }
    
    tr :nth-of-type(1), tr :nth-of-type(2), tr :nth-of-type(3) {
        color: #000;
        font-size: 1.5em;
    } 

}


@media all and (max-width: 600px) {
    body {
        overflow: auto;
    }
    .top-bar {
        font-size: 0.5em;
    }
    
    .event-title {
        width: 220px;
    }

    .logout-button {
        font-size: 2em;
        padding: 0 15px;
    }

    .sections {
        font-size: 1.25em;
    }
    
    .display-overview {
        width: 99%;
    }

    .details {
        height: auto;
        width: 100%;
        float: none;
    }
    
    #user-name {
        font-size: 2em;
        padding-top: 30px;
        padding-left: 20px;
    }
    
    #score{
        font-size: 1.75em;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .question-details {
        margin-top: 40px;
        padding-left: 20px;
        font-size: 1.25em;
    }

    .rank {
        padding-top: 40px;
        height: auto;
        width: 100%;
        font-size: 6em;
    }

    h1 {
        font-size: 0.2em;
    }
}